<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fitnesstest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Aktywność StartWorkAct - brak intent filter -->
        <activity
            android:name=".StartWorkAct"
            android:exported="false" /> <!-- Dla przejrzystości ustawiamy explicite -->

        <!-- Aktywność WorkoutAct - brak intent filter -->
        <activity
            android:name=".WorkoutAct"
            android:exported="false" /> <!-- Dla przejrzystości ustawiamy explicite -->

        <!-- Aktywność MainActivity - intent filter wymaga android:exported -->
        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- Wymagane przy intent filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Aktywność bmiCalc - brak intent filter -->
        <activity
            android:name=".bmiCalc"
            android:exported="false" /> <!-- Dla przejrzystości ustawiamy explicite -->

        <!-- Meta-dane -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
