<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fitnesstest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Aktywność StartWorkAct - brak intent filter, brak potrzeby dodawania android:exported -->
        <activity android:name=".StartWorkAct"></activity>

        <!-- Aktywność WorkoutAct - brak intent filter, brak potrzeby dodawania android:exported -->
        <activity android:name=".WorkoutAct" />

        <!-- Aktywność MainActivity - dodajemy android:exported z wartością true -->
        <activity android:name=".MainActivity"
            android:exported="true">  <!-- Zmieniony wiersz -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".bmiCalc" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
